.del {
    background: #880303;
    color: #fff;
    border: none;
    padding: 5px 9px;
    border-radius: 50%;
    cursor: pointer;
    float: right;
}

.todo {
    background: #f0cbee;
    padding: 15px;
    border-bottom: 2px rgb(113, 175, 185) solid;
}

.is-complete {
    text-decoration: line-through;
    color: rgb(11, 178, 190);
}