/* You can add global styles to this file, and also import other style files */

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 10px 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

a {
    color: #333;
    text-decoration: none;
}

.container {
    padding: 0 1rem;
}

.btn {
    display: inline-block;
    border: none;
    background: rgb(169, 204, 12);
    color: rgb(3, 7, 238);
    padding: 7px 20px;
    cursor: pointer;
}

.btn:hover {
    background: rgb(43, 93, 23);
    color: whitesmoke;
}